@model TesteUGBMVC.Models.ServicoViewModel

<form class="was-validated" method="post" asp-controller="Servico" asp-action="EditarServico">

    <input asp-for="NomeDoServico" type="text" class="form-control" placeholder="Digite o nome do serviço">

    <input asp-for="DescricaoDoServico" type="text" class="form-control" placeholder="Descreva o serviço">

    <input asp-for="PrazoEntregaPadrao" type="text" class="form-control" placeholder="Prazo para entrega">

    <input type='submit' value='Voltar' asp-controller="Servico" asp-action="ListaServicos">
    <input class="submit" type="submit" name="commit" value="Salvar">

</form>

@section Scripts{
    <script type="text/javascript">


        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('keyup', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()


    </script>
}
