@model TesteUGBMVC.Models.FornecedorViewModel

<h3 class="display-5 text-center">Deseja realmente excluir a Empresa <b>@Model.NomeEmpresaFornecedora</b>?</h3>
<br />
<form method="post" asp-controller="Fornecedor" asp-action="DeletarFornecedor" asp-route-id="@Model.Id">
    <button type="submit" class="btn btn-danger btn-block">Confirmar</button>
    <a class="btn btn-primary btn-block" asp-controller="Fornecedor" asp-action="ListaFornecedores">Cancelar</a>
</form>