@model TesteUGBMVC.Models.FornecedorViewModel

<h2>Confirmar Exclusão</h2>

<p>Tem certeza de que deseja excluir o Fornecedor @Model.NomeEmpresaFornecedora?</p>

<form asp-action="DeletarFornecedor">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Confirmar Exclusão" class="btn btn-danger" />
        <a asp-action="ListaFornecedores" class="btn btn-primary">Cancelar</a>
    </div>
</form>