<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <style>
        body {
            font-family: 'Titillium Web', sans-serif;
            color: #666666;
            text-align: center;
        }

        .box {
            background-color: #fff;
            width: 500px;
            margin: 50px auto;
        }

        #title {
            font-size: 30px;
            margin-top: 25px;
        }

        #logo-task {
            width: 100px;
        }
    </style>
</head>
<body>
    <div class="box display-3">
        <div id="title">
            404
        </div>
        <a asp-controller="Login" asp-action="Index">
            <img src="https://cdn-0.emojis.wiki/emoji-pics/facebook/man-shrugging-facebook.png" id="logo-task">
        </a>
    </div>
</body>